@font-face {
    font-family: 'circular';
    src: url(../fonts//CircularStd-Book.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'circular';
    src: url(../fonts//CircularStd-Medium.ttf);
    font-style: medium;
    font-weight: 500;
}

@font-face {
    font-family: 'circular';
    src: url(../fonts//CircularStd-Bold.ttf);
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: 'circular';
    src: url(../fonts//CircularStd-Black.ttf);
    font-style: black;
    font-weight: 900;
}

body {
    margin: 0;
    padding: 0;
    font-family: circular;
    font-weight: 400;
    color: black;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
}

.portfolio-container {
    padding-top: 5rem;
}

.section-title {
    font-size: 2.4rem;
    color: black;
    font-weight: 500;
}

.section-container {
    margin-top: 1.5rem;
}

a, .anchor {
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;

    &:visited {
        color: black;
    }

    &:hover {
        color: black;
    }

    &:active {
        outline: 0;
    }
}

.bold {
    font-weight: 500;
}

.hide-bottom-bar-on-hover {
    padding-bottom: 2px;
    border-bottom: 2px solid black;
    color: black;
    text-decoration: none;

    &:hover {
        padding-bottom: 4px;
        border-bottom-color: transparent;
    }
}

.bottom-bar-on-hover {
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    color: black;
    text-decoration: none;
    &:hover {
        padding-bottom: 4px;
        border-bottom-color: black;
    }
}

img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.hero-content-line {
    height: auto;
    margin: 0;
    overflow: hidden;
    line-height: 4rem;

    .hero-content-line-inner {
        font-weight: 500;
    }
}
