body {
    margin: 0;
    padding: 0;
    font-family: "Circular Std", "Cabin", "Helvetica Neue", sans-serif;
    color: black;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;

    &:visited {
        color: black;
    }

    &:hover {
        color: black;
    }

    &:active {
        outline: 0;
    }
}

.bold {
    font-weight: 700;
}

.hide-bottom-bar-on-hover {
    padding-bottom: 3px;
    border-bottom: 2px solid black;
    border-bottom-color: black;
    transition: all 200ms ease;
    color: black;
    text-decoration: none;

    &:hover {
        padding-bottom: 5px;
        border-bottom-color: transparent;
    }
}


.bottom-bar-on-hover {
    padding-bottom: 8px;
    border-bottom: 2px solid transparent;
    transition: all 200ms ease;
    color: black;
    text-decoration: none;

    &:hover {
        padding-bottom: 4px;
        border-style: none none solid;
        border-width: 2px;
        border-color: black;
    }
}
