.frontpage-container {
    visibility: hidden;
    height: 100vh;
    width: 100%;
}

h1 {
    margin: 0;
}

.hero-content-inner  {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-top: 30%;
    margin-bottom: 2.5rem;

    .hero-content-line {
        height: 55px;
        margin: 0;
        overflow: hidden;

        .hero-content-line-inner {
            font-weight: bold;
        }
    }
}

.sub-title {
    font-size: 1rem;
    line-height: 34px;
    font-weight: 300;
}

.see-portfolio-container {
    position: absolute;
    bottom: 50px;
    text-align: center;
    left: 0;
    right: 0;

    a {
        font-size: 1.1rem;
    }
}
