header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 3rem;

    @media (max-width: 768px) {
        padding: 1.5rem 2rem
    }
}

.logo {
    font-size: 1.3rem;
    font-weight: 500;
}

.navigation {
    display: flex;
    flex-direction: row;
    
    a {
        margin: 0 1.5rem;
        font-size: 1.2rem;
        background-color: transparent;
    }
}

.mobile-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    a {
        font-size: 2rem;
        font-weight: 700;
        margin: 2rem 0;
    }
}

.hide-nav {
    display: none;
}

.show-nav {
    display: block;
    position: fixed;
    z-index: -1;
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.show-only-on-desktop {
    display: block;
}

.show-only-on-mobile {
    display: none;
}

@media (max-width: 768px) {
    .show-only-on-desktop {
        display: none;
    }

    .show-only-on-mobile {
        display: block;
    }   
}
