header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.navigation {
    display: flex;
    flex-direction: row;
    
    a {
        margin: 0 1.5rem;
        font-size: 18px;
        background-color: transparent;
    }
}
